<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Home - /Dev↵</title>
	<meta name="generator" content="TextMate http://macromates.com/">
	<meta name="author" content="Leon Berenschot">
	<%= javascript_include_tag :all, :cache => true %>
	<%= stylesheet_link_tag :all, :cache => true %>
	<!-- Date: 2009-10-14 -->
</head>
<body>
<div class="container">
	<div class="span-14 last">
		<h1>/Dev↵</h1>
	</div>
	<div class="span-10 last">
		<%= image_tag 'logo_gradient.png' %>
	</div>
	
	<div class="back span-24">
		<%= yield %>
	</div>
	<!-- <div class="back span-6 last">
		<h3>Content block 2</h3>
		<ul>
			<li><a href="">Link 1</a></li>
			<li><a href="">Link 1</a></li>
			<li><a href="">Link 1</a></li>
		</ul>
	</div> -->
	<div id="twtr-profile-widget" class="span-6"></div>
	
	<div class="footer span-24 last">
		Dev-Enter is een samenwerking van <a href="http://KerkdienstGemist.nl">KerkdienstGemist.nl®</a> en <a href="http://Wendbaar.nl">Wendbaar.nl®</a>
	</div>
</div>
</body>
</html>
