!!!
%html
  %head
  %body
    .container.container_12
      %h2.grid_12
        12 Column Grid
      .grid_12
        %p
          940px
      .clear
        \&nbsp;
      .grid_1
        %p
          60px
      .grid_11
        %p
          860px
      .clear
        \&nbsp;
      .grid_2
        %p
          140px
      .grid_10
        %p
          780px
      .clear
        \&nbsp;
      .grid_3
        %p
          220px
      .grid_9
        %p
          700px
      .clear
        \&nbsp;
      .grid_4
        %p
          300px
      .grid_8
        %p
          620px
      .clear
        \&nbsp;
      .grid_5
        %p
          380px
      .grid_7
        %p
          540px
      .clear
        \&nbsp;
      .grid_6
        %p
          460px
      .grid_6
        %p
          460px
      .clear
        \&nbsp;
      .grid_1.suffix_11
        %p
          60px
      .clear
        \&nbsp;
      .grid_1.prefix_1.suffix_10
        %p
          60px
      .clear
        \&nbsp;
      .grid_1.prefix_2.suffix_9
        %p
          60px
      .clear
        \&nbsp;
      .grid_1.prefix_3.suffix_8
        %p
          60px
      .clear
        \&nbsp;
      .grid_1.prefix_4.suffix_7
        %p
          60px
      .clear
        \&nbsp;
      .grid_1.prefix_5.suffix_6
        %p
          60px
      .clear
        \&nbsp;
      .grid_1.prefix_6.suffix_5
        %p
          60px
      .clear
        \&nbsp;
      .grid_1.prefix_7.suffix_4
        %p
          60px
      .clear
        \&nbsp;
      .grid_1.prefix_8.suffix_3
        %p
          60px
      .clear
        \&nbsp;
      .grid_1.prefix_9.suffix_2
        %p
          60px
      .clear
        \&nbsp;
      .grid_1.prefix_10.suffix_1
        %p
          60px
      .clear
        \&nbsp;
      .grid_1.prefix_11.suffix_0
        %p
          60px
      .clear
        \&nbsp;
